<a href="https://colab.research.google.com/github/Drovie/Machine_Learning/blob/main/1%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0_%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%D0%B0%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/student-por.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns
##df.iloc[[]]

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [ ]:
#Первые 5 значений
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

Warning: Total number of columns (33) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#Последние 5 значений
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [ ]:
#Статистику
df1 = df.describe()
df1

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **Ответ 1.**

In [ ]:
df1 = df.describe()
df1.iloc[[1]]

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.22188,3.930663,3.180277,3.1849,1.502311,2.280431,3.53621,3.659476,11.399076,11.570108,11.906009

2.   **Ответ 2.**

In [ ]:
df1.iloc[[3,7]]

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
min,15.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
max,22.0,4.0,4.0,4.0,4.0,3.0,5.0,5.0,5.0,5.0,5.0,5.0,32.0,19.0,19.0,19.0

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
##df = df.astype({'age': np.int8, 'Medu': np.float64})

df["age"] = df['age'].astype('int')
df["Medu"] = df['Medu'].astype('float')
df["school"] = df['school'].astype('string')
df["sex"] = df['sex'].astype('category')

#Вывести типы колонок тут
df.dtypes[['age','Medu','school','sex']]
##df.info()

age          int64
Medu       float64
school      string
sex       category
dtype: object

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
#Фильтр колонки 1
df[df['school'] == 'MS']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
423,MS,F,16,U,GT3,T,1.0,3,at_home,other,...,4,3,3,1,3,5,11,10,11,11
424,MS,F,16,R,GT3,T,2.0,2,other,other,...,4,4,4,1,1,5,0,12,12,12
425,MS,F,15,R,GT3,T,1.0,1,at_home,services,...,4,1,3,1,1,2,6,10,10,10
426,MS,F,15,R,GT3,T,3.0,3,at_home,other,...,5,4,4,2,3,5,4,10,10,11
427,MS,F,16,R,GT3,T,2.0,3,at_home,services,...,4,5,2,1,2,5,0,16,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2.0,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3.0,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1.0,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3.0,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3.0,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [ ]:
#Фильтр колонки 2
df[df['sex'] == 'F']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4.0,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1.0,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1.0,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4.0,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3.0,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,MS,F,17,U,GT3,T,4.0,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4.0,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2.0,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3.0,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1.0,1,other,other,...,1,1,1,1,1,5,6,11,12,9

In [ ]:
#Фильтр колонки 3
df[df["age"] > 18]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
127,GP,F,19,U,GT3,T,0.0,1,at_home,other,...,3,4,2,1,1,5,0,9,10,11
166,GP,M,19,U,GT3,T,3.0,2,services,at_home,...,4,5,4,1,1,4,6,11,9,11
224,GP,F,19,U,GT3,T,3.0,3,other,other,...,4,3,3,1,2,3,4,12,12,12
279,GP,M,22,U,GT3,T,3.0,1,services,services,...,5,4,5,5,5,1,12,7,8,5
290,GP,F,19,U,GT3,T,2.0,2,services,services,...,4,3,3,1,1,5,0,10,10,11
295,GP,M,19,U,LE3,A,4.0,3,services,at_home,...,4,3,1,1,1,1,4,11,13,14
299,GP,F,20,R,GT3,T,2.0,1,other,other,...,1,2,3,1,2,2,8,10,12,12
311,GP,F,19,U,GT3,T,3.0,3,other,services,...,4,3,5,3,3,5,16,11,12,12
322,GP,F,19,R,GT3,T,3.0,2,services,services,...,3,3,3,4,3,3,0,9,8,10
341,GP,F,19,U,GT3,T,4.0,4,health,other,...,2,3,4,2,3,2,2,14,13,13
350,GP,M,19,R,LE3,T,2.0,1,at_home,services,...,4,3,1,1,1,5,0,9,10,11
351,GP,M,20,U,GT3,A,3.0,2,services,other,...,5,5,3,1,1,5,0,14,15,15
352,GP,M,19,R,GT3,T,3.0,3,other,services,...,4,5,3,1,2,5,0,10,10,11
361,GP,M,19,U,GT3,T,4.0,2,health,other,...,5,4,4,1,1,1,9,11,10,10
369,GP,F,19,U,GT3,T,1.0,1,other,other,...,1,5,5,4,3,5,12,10,10,11
370,GP,F,19,U,LE3,A,1.0,1,other,other,...,5,3,4,1,1,4,2,8,8,9
384,GP,M,19,R,GT3,T,3.0,2,at_home,services,...,5,3,4,2,2,5,0,11,10,10
405,GP,F,19,U,LE3,A,2.0,3,at_home,other,...,2,2,3,3,4,5,16,10,11,11
407,GP,F,21,U,LE3,T,4.0,4,other,other,...,3,3,2,1,1,5,0,9,12,12
413,GP,M,21,R,LE3,T,1.0,1,at_home,other,...,5,3,3,5,2,4,21,9,10,10
414,GP,F,20,R,GT3,T,1.0,1,other,other,...,3,2,2,1,3,3,8,11,15,15
415,GP,F,19,U,GT3,T,4.0,4,teacher,other,...,3,2,5,4,4,5,5,9,10,11
419,GP,M,19,U,GT3,T,2.0,1,other,other,...,5,3,4,1,4,4,10,7,11,11
421,GP,F,20,U,GT3,T,1.0,0,other,other,...,5,3,1,1,1,5,5,8,10,10
480,MS,F,19,U,GT3,T,2.0,3,at_home,services,...,4,4,4,1,1,2,0,9,9,10
488,MS,F,19,U,GT3,T,1.0,1,at_home,services,...,5,3,1,1,1,3,6,7,9,9
491,MS,F,19,U,GT3,T,1.0,1,other,other,...,1,1,4,4,1,1,12,7,8,9
504,MS,F,19,U,LE3,T,2.0,2,other,other,...,5,4,5,1,1,1,0,12,13,13
506,MS,F,20,U,GT3,T,3.0,3,at_home,services,...,3,3,4,2,4,3,8,11,9,10
552,MS,M,19,U,GT3,T,1.0,1,other,other,...,4,4,3,3,4,4,2,9,9,10
568,MS,M,19,U,GT3,T,3.0,2,at_home,services,...,3,2,1,1,1,3,4,6,11,9
571,MS,M,19,U,GT3,T,2.0,1,at_home,other,...,4,4,3,1,3,5,4,8,9,9
574,MS,M,20,R,GT3,T,1.0,1,other,other,...,4,4,3,2,4,4,12,8,11,10
577,MS,M,19,R,GT3,T,1.0,1,other,services,...,5,4,4,3,3,2,8,10,9,11
580,MS,M,19,R,GT3,T,1.0,1,other,other,...,4,4,4,3,3,5,4,8,9,10
582,MS,F,19,U,LE3,A,1.0,1,at_home,other,...,1,4,4,1,1,5,0,6,8,7
605,MS,F,19,U,GT3,T,1.0,1,at_home,services,...,5,5,5,2,3,2,0,5,0,0
610,MS,F,19,R,GT3,A,1.0,1,at_home,at_home,...,3,5,4,1,4,1,0,8,0,0
632,MS,F,19,R,GT3,T,1.0,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
639,MS,M,19,R,GT3,T,1.0,1,other,services,...,4,3,2,1,3,5,0,5,8,0
644,MS,F,19,R,GT3,T,2.0,3,services,other,...,5,4,2,1,2,5,4,10,11,10

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
#Группировка
#df.groupby(['school']).describe()
df.groupby(['school']).mean()

<ipython-input-77-0f1416845621>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['school']).mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
school,,,,,,,,,,,,,,,,
GP,16.666667,2.725768,2.475177,1.430260,2.014184,0.172577,3.952719,3.153664,3.146572,1.470449,2.267139,3.598109,4.215130,11.985816,12.144208,12.576832
MS,16.889381,2.119469,1.991150,1.827434,1.774336,0.314159,3.889381,3.230088,3.256637,1.561947,2.305310,3.420354,2.619469,10.300885,10.495575,10.650442

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация